* {
  transition: all 0.5s;
}

body {
  width: 32em;
  font-family: 'Fira Sans';
  line-height: 1.3em;
  margin: auto;
}
textarea {
  display: block;
  width: 100%;
  margin: 1em 0;
  height: 6em;
  font-size: 1.7em;
}
input[type="submit"] {
  font-family: 'Fira Sans';
  font-size: 1.7em;
  background: #3af;
  border: 1px solid #2ad;
  padding: 0.2em 0.4em;
  border-radius: 5px;
  color: #fff;
  box-shadow: 1px 1px 2px #ddd;
  text-shadow: -1px -1px 1px #03a;
}
input[type="submit"]:active {
  background: #6bf;
  text-shadow: none;
}
input[type="submit"]:focus {
  box-shadow: 1px 1px 2px #333;
}
input[type="submit"]:focus {
  box-shadow: 1px 1px 2px #333;
}
input[name="replyTo"] {
  width: 39.3em;
}
#character-count {
  text-align: right;
  font-weight: bold;
  color: #ccc;
  text-shadow: 1px 1px 3px #eee;
}
.reply a {
  color: #acf;
  text-decoration: none;
}
.reply a:hover {
  color: #7af;
}

.reply, time {
  font-size: 75%;
}
time a {
  font-weight: 300;
  white-space: nowrap;
}
time a {
  color: #ddd;
  text-decoration: none;
  border-bottom: 1px solid #fff;
}
article {
  opacity: 0.8;
  color: #555;
}
article .status {
  display: inline;
}
article .status a {
  text-decoration: none;
  font-weight: bold;
  color: #444;
}
.status a {
  border-bottom: 1px dotted #fff;
}
.status a:hover {
  border-bottom: 1px dotted #444;
}
article:hover{
  opacity: 1.0
}
article:hover time a {
  color: #bbb;
}
time {
  display: inline-block;
  padding-left: 0.3em
}

time a:hover {
  color: #999;
  border-bottom: 1px solid #aaa;
}
article {
  padding: 1em 0
}