<h1>New Status</h1>
<form method="post" action="/status">
  <label>Reply To?
    <input id="reply-to"
           type="text"
           name="replyTo"
           placeholder="https://twitter.com/brianloveswords/status/12345"
           value="{{ statusLink }}"
           />
  </label>

  <p id="existing-status"></p>

  <textarea id="status" name="text" data-key="ctrl+enter" data-action="submit"></textarea>
  <aside id="character-count">140</aside>
  <input type="submit" value="Post Status">
</form>

<script src="/static/js/twitter.js"></script>
<script src="/static/js/remote.js"></script>
<script src="/static/js/new-status.js"></script>
