<article id="status-{{id}}" data-reply-to="{{reply.link}}" data-reblog="{{reblog.link}}">
  {{#reply}}
  <aside class="external-link reply">
    <a href="{{link}}" target="_blank">
      <i>&#x2911;</i>
      {{{link}}}
    </a>
  </aside>
  {{/reply}}

  {{#reblog}}
  <aside class="external-link reblog">
    <a href="{{link}}" target="_blank">
      <i>&#8634;</i>
      {{{link}}}
    </a>
  </aside>
  {{/reblog}}

  <p class="status">{{{linkify text}}}</p>

  <time datetime="{{datetime}}"><a href="/status/{{id}}">{{when}}↗</a></time>
</article>
